<main>
  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Current Temperatures</h2>
        <p>{{ currentDate | date: "longDate" }}</p>
      </div>
    </header>
    <table style="width: 100%">
      <tr>
        <td>New York:</td>
        <td style="text-align: right">
          {{ currentTemperaturs.newYork | temperature: "C" : "F" }}
        </td>
      </tr>
      <tr>
        <td>Berlin:</td>
        <td style="text-align: right">
          {{ currentTemperaturs.berlin | temperature: "C" : "F" }}
        </td>
      </tr>
      <tr>
        <td>Paris:</td>
        <td style="text-align: right">
          {{ currentTemperaturs.paris | temperature: "C" : "F" }}
        </td>
      </tr>
      <tr>
        <td>Chicago:</td>
        <td style="text-align: right">
          {{ currentTemperaturs.chicago | temperature: "C" : "F" }}
        </td>
      </tr>
    </table>
  </article>

  <article class="temperatures">
    <header>
      <img src="temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Historic Temperatures</h2>
        <p>Berlin</p>
      </div>
    </header>
    <ul>
      @for (
        temperature of historicTemperatures | sort: "desc";
        track temperature
      ) {
        <li style="text-align: right" (click)="onReset($index)">
          {{ temperature | temperature: "C" }}
        </li>
      }
    </ul>
  </article>
</main>
